  
<%- include ('../partials/head', {title: 'Carrito'}) %>
<body>
    <div class="center">
        <%- include ('../partials/header') %>
        <main>
            <h1 class="tituloCart">Tu carrito de compras</h1>
            <div class="contenedorCart">
                <div class="articulos">
                    <% for (const product of products) {%>
                        <article class="resumen">
                            <a href="/productos/detail/<%= product.id %>"><img class="articuloCart" src="/img/<%= product.img %>" alt="Articulo"></a>
                            <p class="descripcion"><%=product.name %> </p>
                            <input class="cantidad" type="number" name="cantidad" placeholder="1">
                            <p class="precio">$<%= product.price %></p>
                            <i class="fas fa-trash-alt"></i>
                        </article>
                    <% } %>
                
                    <article class="totales">
                        <div class="primeraColumna">
                            <p>Subtotal</p>
                            <p>Envío</p>
                            <p>Total</p>
                        </div>
                        <div class="segundaColumna">
                            <p>$<%= subTotal %> </p>
                            <p>$<%= shipping %> </p>
                            <p>$<%= total %> </p>
                        </div>
                    </article>
                    <div class="contenedorComprar">
                        <div class="comprarCarrito">
                            <a href="/productos/cart">Comprar</a> 
                            <a href="/productos/cart"><i class="fas fa-shopping-cart"></i></a>  
                        </div>
                    </div>
                </div>
                <div class="dibujito">
                    <article class="mensaje">
                        <p>Combínalo con estos maridajes increíbles</p>
                        <img src="/img/sardo.png" alt="maridaje">
                    </article>
                </div>
            </div>
            
        </main>
    </div>
    <%- include ('../partials/footer') %>

</body>

</html>