  
<%- include ('../partials/head', {title: 'Carrito'}) %>
<body>
    <div class="center">
        <%- include ('../partials/header') %>
        <main>
            <h1 class="tituloCart">Tu carrito de compras</h1>
            <div class="contenedorCart">
                <div class="articulos">
                    <% if(items.length != 0) { %> 
                    <% for (const item of items) {%>
                        <article class="resumen">
                            <a href="/productos/detail/<%= item.id %>"><img class="articuloCart" src="/img/<%= item.img %>" alt="Articulo"></a>
                            <p class="descripcion"><%=item.name %> </p>
                            <input class="cantidad" type="number" name="cantidad" value="1">
                            <p class="precio">$<%= item.unit_price %></p>
                            <form method="POST" action="/cart/delete/<%= item.id %>?_method=DELETE" enctype="multipart/form-data">
                                <button style="border:none"type="submit"><i class="fas fa-trash-alt"></i></button>
                            </form>
                        </article>
                        <% }%>
                    <article class="totales">
                        <div class="primeraColumna">
                            <p>Subtotal</p>
                            <p>Envío</p>
                            <p>Total</p>
                        </div>
                        <div class="segundaColumna">
                            <p><%=subTotal%></p>
                            <p>Costo de envio </p>
                            <p>Total</p>
                        </div>
                    </article>
                    <div class="contenedorComprar">
                        <div class="comprarCarrito">
                            <a href="/cart/buy">Comprar</a> 
                            <a href="/cart/buy"><i class="fas fa-shopping-cart"></i></a>  
                        </div>
                    </div>
                    <% } else{%>
                        <p>No agregaste ningún item al carrito</p>
                    <% }%>
                </div>
                <div class="dibujito">
                    <article class="mensaje">
                        <p>Combínalo con estos maridajes increíbles</p>
                        <img src="/img/sardo.png" alt="maridaje">
                    </article>
                </div>
            </div>
            
        </main>
    </div>
    <%- include ('../partials/footer') %>

</body>

</html>