  
<%- include ('../partials/head', {title: 'Carrito'}) %>
<body>
    <div class="center">
        <%- include ('../partials/header') %>
        <main>
            <h1 class="tituloCart">Tu carrito de compras</h1>
            <div class="contenedorCart">
                <div class="articulos">
                    <% if(items.length != 0) { %> 
                    <% for (const item of items) {%>
                        <article class="resumen">
                            <a href="/productos/detail/<%= item.id %>"><img class="articuloCart" src="/img/<%= item.img %>" alt="Articulo"></a>
                            <p class="descripcion"><%=item.name %> </p>
                            <input class="cantidad" type="number" name="cantidad" value="<%= item.quantity%>">
                            <p class="precio">$<%= item.unit_price %></p>
                            <form method="POST" action="/cart/delete/<%= item.id %>?_method=DELETE" enctype="multipart/form-data">
                                <button class="eliminar" type="submit"><i class="fas fa-trash-alt"></i></button>
                            </form>
                        </article>
                        <% }%>
                    <article class="totales">
                        <div class="primeraColumna">
                            <p>Subtotal</p>
                            <p>Envío</p>
                            <p>Total</p>
                        </div>
                        <div class="segundaColumna">
                            <p>$<%=subTotal%></p>
                            <p>$250</p>
                            <p>$<%=subTotal + 250%></p>
                        </div>
                    </article>
                    <form method="GET" action="/cart/buy" enctype="multipart/form-data">
                    <div class="contenedorComprar">
                        <div class="comprarCarrito">
                        </div>
                        <% if(userId != 0) { %>
                            <button class="alert" type ="submit">
                                <a>Comprar <i class="fas fa-shopping-cart"></i></a> 
                            </button>
                            <% } else {%>
                                <a href="/users/login" style="font-weight: bold;">Iniciar sesión para comprar</a>

                            <% }%>
                    </div>
                    
                    <% } else{%>
                        <p>No agregaste ningún item al carrito</p>
                    <% }%>
            
                </div>
                <% if(items.length != 0) { %> 
                <div class="dibujito">
                    <article class="mensajeCart">
                        <p>¡Gracias por tu compra!</p>
                    </article>
                </div>
                <% }%>
            </div>
            
        </main>
    </div>
    <%- include ('../partials/footer') %>

</body>

</html>