  
<%- include ('../partials/head', {title: 'Carrito'}) %>
<body>
    <div class="center">
        <%- include ('../partials/header') %>
        <main class="mainCart">
            <h1 class="tituloCart">Your Shopping Cart</h1>
            <div class="contenedorCart">
                <div class="articulos">
                    <% if(items.length != 0) { %> 
                    <% for (const item of items) {%>
                        <article class="resumen">
                            <p class="descripcion"><%=item.name %> </p>
                            <div class="blockWine">
                                <a href="/productos/detail/<%= item.id %>"><img class="articuloCart" src="/img/<%= item.img %>" alt="Articulo"></a>
                                <input class="cantidad" type="number" name="cantidad" value="<%= item.quantity%>">
                                <p class="precio">$<%= item.unit_price || item.priceWDiscount %></p>
                                <form method="POST" action="/cart/delete/<%= item.id %>?_method=DELETE" enctype="multipart/form-data">
                                    <button class="eliminar" type="submit"><i class="fas fa-trash-alt"></i></button>
                                </form>
                            </div>
                        </article>
                        <% }%>
                    <article class="totales">
                        <div class="primeraColumna">
                            <p>Subtotal</p>
                            <p>Shipping</p>
                            <p>Total</p>
                        </div>
                        <div class="segundaColumna">
                            <p>$<%=subTotal%></p>
                            <p>$50</p>
                            <p>$<%=subTotal + 50%></p>
                        </div>
                    </article>
                    <form method="GET" action="/cart/buy" enctype="multipart/form-data">
                    <div class="contenedorComprar">
                        <div class="comprarCarrito">
                        </div>
                        <% if(userId != 0) { %>
                            <button class="alert agregarYEditar" type ="submit">
                                <a>Buy <i class="fas fa-shopping-cart"></i></a> 
                            </button>
                            <% } else {%>
                                <a href="/users/login" style="font-weight: bold;">Log in to buy</a>

                            <% }%>
                    </div>
                    
                    <% } else{%>
                        <div class="containerEmpty">
                            <p>Your cart is empty</p>

                        </div>
                    <% }%>
            
                </div>
                <% if(items.length != 0) { %> 
                <div class="dibujito">
                    <article class="mensajeCart">
                        <p>Thanks <br> for your purchase</p>
                    </article>
                </div>
                <% }%>
            </div>
            
        </main>
    </div>
    
    <%- include ('../partials/footer') %>
    

</body>

</html>