<%- include ('../partials/head', {title: product.name}) %>

<body>
    <div class="center">
        <%- include ('../partials/header') %>
        
        <main>
        
            <div class="BloqueGeneral">
                
                <div class= "mujer">
                        <img src="/img/productwomen.svg" alt="ProductWomen">
                </div>
        
                <div class="ContenedorInfoProducto">
            
                    <div class="tituloVino">
                        <h1 class="tituloVino"><%=product.name %></h1>
                    </div> 
                    <div>
                        <h3 class="Cant">$<%=product.price %></h3>
                    </div> 
                    
                    <form action="/cart/addToCart/<%= product.id %> " method="POST">
                        <input class="cantidad" name="quantity" type="number" min="1" value="1">
                        <button type="submit" class="agregarYEditar">Agregar <i class="fas fa-shopping-cart"></i></button>
                    </form>
                    

                    <div class="RateProduct">
                    <div>
                        <h3 class="Cant">ALCOHOL 13,5%</h3>
                    </div>
                    <div>
                        <img class="circle" src="/img/circle1.svg" alt="circle1">
                    </div>
                    <div>
                        <h3 class="Cant">ACIDEZ VOLATIL 0,55 gr/l</h3>
                    </div>
                    <div>
                        <img class="circle" src="/img/circle2.svg" alt="circle2">
                    </div>
                    <div>
                        <h3 class="Cant">ACIDEZ TOTAL 5,20 gr/l.</h3>
                    </div>
                    <div>
                        <img class="circle" src="/img/circle3.svg" alt="circle3">
                    </div>
                    </div>  
                    <div class="InfoProducto">
                        <h3 class="Info Producto Cant"><%= product.detail %></h3>
                    </div>
                    <% if(admin == true ){ %>
                    
                        <a class="agregarYEditar" href="/admin/editar/<%= product.id %> ">Editar <i class="far fa-edit"></i></a> 
                    
                    <%}%> 
                </div>

                <div class="vinoproduct">
                    <img src="/img/<%= product.img %>" alt="vinoproduct">
                </div>


            </div>

        </main>
    </div>
    <%- include ('../partials/footer') %>

</body>
</html>