<%- include ('../partials/head', {title: 'Productos'}) %>
    <body>
        <div class="center">
            <%- include ('../partials/header') %>
        </div>
        <main>
            <h1 class="tituloListado">Vinos</h1>
            <div class="contenedorListado">
                <div class="listadoIzquierda">
                    <div class="filtros">

                        <div class="filtrarPor">
                            <label> Filtrar:</label>
                            <select class="filtrosEstilo">
                                <option class="categoryFilter" value="0">Todos</option>
                                <% for(category of categories) { %>
                                    <option class="categoryFilter" value=<%= category.id %>><%= category.name%></option>
                                <%}%>
                            </select>
                        </div>

                        <div class="filtrarPor">
                            <label>Ordenar:</label>
                            <select class="filtrosEstilo">
                                <option value="may">Mayor precio</option>
                                <option value="men">Menor precio</option>
                            </select>
                        </div>

                    </div>
                    <div class= "mujerComprando">
                        <img src="/img/mujerComprando.svg" alt="mujerComprando">
                    </div>
                </div>
                <div class="conteinerProducts">
                    <div id="filtered"></div>
                    <% for (const product of products) { %>
                        <article class="articuloListado" data-category="<%= product.categories[0].id%>">
                            <a href="/productos/detail/<%= product.id %>">
                                <div class="productBoxImage">
                                    <img src="/img/<%= product.img %>" alt="producto">
                                </div>
                                <div class="productBoxData">
                                    <div class="nombre-info">
                                        <h4><%=product.brand.name %> <%=product.name %> <%= product.categories[0].name%></h4>
                                        <p class="productDescription"><%= product.detail %></p>
                                    </div>
                                   <div class="agregarAlCarro">
                                        <p>$<%= product.price %></p>
                                        <a class="agregarYEditar" href="/productos/cart">
                                            <p>Agregar <i class="fas fa-shopping-cart"></i></p>
                                        </a>
                                        
                                  </div>
                                </div>
                            </a>
                        </article>
                    <% } %>
                </div>
            </div>

        </main>
        
        <%- include ('../partials/footer') %>
        <script src="/js/script.js"></script>
    </body>
</html>