<%- include ('./partials/head', {title: 'Perfil administrador'}) %>

<body>

    <%- include ('./partials/header') %>

    <h1 class="tituloCarga">Panel administrador</h1>
    

    <div class="contenedorPadre">

        <div class="contenedorAdmin">
            <div class="barraAdmin">
                <div class="usuarioAdmin">
                    <img class="avatar" src="/img/avatar1.svg" alt="Avatar">
                    <div class="nombreAdmin">
                        <h3> <%= user.userName %></h3>
                        <p><a href="/users/logout">Logout</a></p>
                    </div>
                </div>
                <a class="navAdminElemnto" href="#">Proveedores</a>
                <a class="navAdminElemnto" href="./admin/carga">Cargar producto</a>
                <a class="navAdminElemnto" href="#">Pedidos</a>
                <a class="navAdminElemnto" href="#">Configuración</a>
                <a class="navAdminElemnto" href="#">Mensajes</a>
                <a class="navAdminElemnto" href="#">Métricas</a>
            </div>
            
        </div>
        <div class="bloqueAdminPadre">
            <div class="bloqueAdmin">
                <div class="textoAdmin">
                <h2 class="datosPerfil">Tus datos</h2>
                <div class="fotoAdmin">
                        <img class="avatarProfile" src="/img/users/<%=user.image%>" alt="foto">
                    </div>
                    <p class="datosPersonales">
                        <br> <%= user.name + " " +  user.lastName %> </br>
                        <br> <%= user.address %>  </br>
                    </p>
                </div>
            </div>
        </div>

    </div>

</body>
</html>