<%- include ('./partials/head', {title: 'Carga de productos'}) %>

<body>

    <%- include ('./partials/header') %>

    <h1 class="tituloCarga">Carga de productos</h1>
    <div class="contenedorCarga">
        <div class="navAdmin">
            <div class="usuarioAdmin">
                <img class="avatar" src="/img/avatar1.svg" alt="Avatar">
                <div class="nombreAdmin">
                    <h3>Violeta Aguirre</h3>
                    <a href="/admin">Ver mi perfil</a>
                </div>
            </div>
            <a class="navAdminElemnto" href="#">Proveedores</a>
            <a class="navAdminElemnto selectedAdminNav" href="#">Editar producto</a>
            <a class="navAdminElemnto" href="#">Pedidos</a>
            <a class="navAdminElemnto" href="#">Configuración</a>
            <a class="navAdminElemnto" href="#">Mensajes</a>
            <a class="navAdminElemnto" href="#">Métricas</a>
        </div>
        <div class="selectorCategoria">
            <h3>/tipo de producto</h3>
            <a href="/admin/editar/<%= product.id %>">
                <img src="/img/cargaVino.svg" alt="Carga de vinos">
            </a>
            <a href="/admin/editar/<%= product.id %>">
                <img src="/img/cargaConservas.svg" alt="Carga de conservas">
            </a>
            <a href="/admin/editar/<%= product.id %>">
                <img src="/img/cargaExp.svg" alt="Carga de experiencias">
            </a>
            <a href="/admin/editar/<%= product.id %>">
                <img src="/img/cargaBoxes.svg" alt="Carga de boxes">
            </a>
        </div>
        <div>
            <form class="carga" action="/admin/editar/<%=product.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="cargaCampos">
                    <label for="brand" class="form-label"></label>
                    <select class="sinborde" name="brand" id="brand">
                        <option value="" disabled = "true">/ marca</option>
                        <% for (const brand of brands) { %>
                            <option value=<%= brand.id %>  >/ <%= brand.name %></option>
                        <% } %>
                    </select>
                </div>
                <div class="cargaCampos">
                    <input class="sinborde width300" type="text" id="name" name="name" value="<%= product.name %>" placeholder="/nombre">
                </div>
                <div class="cargaCampos">
                    <input class="sinborde" type="number" id="price" name="price" value="<%= product.price %>" placeholder="/precio" >
                </div>
                <div class="cargaCampos">
                    <label for="class" class="form-label"></label>
                    <select class="sinborde" name="class" id="class" >
                        <option value="" disabled = "true">/ destacado</option>
                        <option value="no" <%= product.class == "no" ? "selected" : "" %> >/No destacado</option>
                        <option value="destacado" <%= product.class == "destacado" ? "selected" : "" %> >/Destacado</option>                        
                    </select>
                </div>
                <div class="cargaCampos">
                    <label for="category" class="form-label"></label>
                    <select class="sinborde" name="category" id="category">
                        <option value="" disabled = "true">/ variedad</option>
                        <% for (const category of categories) { %>
                            <option value=<%= category.id %>  >/<%= category.name %></option>
                        <% } %>
                    </select>
                </div>
                <div class="cargaCampos">
                    <input class="sinborde width300" type="number" id="stock" name="stock" value="<%= product.stock  %>" placeholder="/stock">
                </div>
                <div class="cargaCampos">
                    <input class="sinborde width300" type="number" id="discount" name="discount" value="<%= product.discount %>" placeholder="/descuento">
                </div>
                <div class="cargaCampos">
                   <label for="size" class="form-label"></label>
                    <select class="sinborde" name="size" id="size">
                        <option value="" disabled = "true">/ tamaño</option>
                        <% for (const size of sizes) { %>
                            <option value=<%= size.id %>  >/ <%= size.name %>ml</option>
                        <% } %>
                    </select>
                </div>
                <div class="cargaCampos">
                    <label for="image"></label>
					<input type="file" name="image" id="image">
                </div>

                <div class="cargaCampos">
                    <textarea class="sinborde" name="detail" id="detail"  placeholder="/descipción"><%= product.detail %> </textarea>
                </div>
                <div class="contenedorEditar">
                    <div class="Guardar">
                        <button class="botonGuardar" type="submit">Editar producto</button>
                    </div>

                </div>
            </form>
            <form class="Guardar" method="POST" action="/admin/editar/<%=product.id %> ?_method=DELETE" enctype="multipart/form-data">
                <button type="submit" class="botonEliminar">Eliminar producto</button> 
            </form>
        </div>
    </div>


</body>
</html>