
    <%- include ('./partials/head', {title: 'Inicio'}) %>

<body>
    <div class="center">
        <header class="headerIndex">
            <div class="LogoPrincipal">
                <div class="hamburger">
                    <i class="fas fa-bars"></i>
                </div>
                <img class="logoDesktop" src="/img/Logocopa.svg" alt="Logo principal">
                <img class="logoMobile" src="/img/logolargo.svg" alt="logo Mobile">
                <a href="/cart"><i class="fas fa-shopping-cart"></i></a>
            </div>

            <div class="menu">

                <%- include ('./partials/nav') %> 

                <div class="contenedor">
                    <img src="/img/barriles.svg" alt="banner">
                </div>   
        
            </div> 

        </header>   

        <main>
            <div class="destacados">
                <div class="tituloIndex"><h1>Featured</h1></div>
                <div class="vinosYVideos">
    
                    <div class="fonditosyVinos">
                        <% for (const product of productDest) { %>

                            <a href="/productos/detail/<%= product.id %>">
                                <article class="articulo">
                                    <div class="cuadrito">
                                        <img class="fondo" src="/img/mancha<%= product.id %>.png" alt="fondo">
                                        <img class="vino" src="/img/<%= product.img %>" alt="vino<%=product.id%>">
                                    </div>
                                    
                                    <div class="detalle">
                                        <a href="/productos/producto"> <p><%= product.name %></p></a>
                                        <div class="estrellas">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="far fa-star"></i>
                                        </div>
                                    </div>
                                </article>
                            </a>  
                        <% } %>

                    </div>

                    <div class="video">
                        <iframe src="https://player.vimeo.com/video/48035169" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>  
            </div>
        </main>
    </div>    
    <%- include ('./partials/footer') %>

</body>
</html>