<%- include ('./partials/head', {title: 'Productos'}) %>
    <body>
        <div class="center">
            <%- include ('./partials/header') %>
        </div>
        <main>
            <h1 class="tituloVino">Vinos</h1>
            <div class="contenedorListado">
                <div class="listadoIzquierda">
                    <nav class="product-filter">

                        <div class="filtros">

                            <div class="filtrarPor">
                                <label>Filtrar</label>
                                <select>
                                    <option value="/">Malbec</option>
                                    <option value="/">Cabernet Sauvignon</option>
                                    <option value="/">Syrah</option>
                                    <option value="/">Rosado</option>
                                </select>
                            </div>

                            <div class="filtrarPor">
                                <label>Ordenar:</label>
                                <select>
                                    <option value="/">Mayor precio</option>
                                    <option value="/">Menor precio</option>
                                    <option value="/">Más buscados</option>
                                </select>
                            </div>

                        </div>

                    </nav>
                    <div class= "mujerComprando">
                        <img src="/img/mujerComprando.svg" alt="mujerComprando">
                    </div>
                </div>
                <div class="conteinerProducts">

                    <div class="articulosTodos">

                        <% for (product of products) { %>
                            <section>

                                <a href="/productos/detail/<%= product.id %>">
                                    <article class="productBoxImage">
                                        <img src="/img/listado/<%= product.image %>" alt="producto">
                                    </article>
                                    <article class="productBoxData">
                                        <div class="nombreYPrecio">
                                            <h4><%= product.name %></h4>
                                            <p>$<%= product.price %></p>
                                        </div>
                                        <div class="agregarCarrito">
                                            <a href="/productos/cart">Agregar </a>
                                            <a href="/productos/cart"><i class="fas fa-shoppingcart"></i></a>
                                        </div>
                                    </article>
                                </a>
                            </section>
                        <% } %>
                        </div>
                </div>
            </div>

        </main>
        
        <%- include ('./partials/footer') %>
    </body>
</html>