<%- include ('./partials/head', {title: 'Productos'}) %>
    <body>
        <div class="center">
            <%- include ('./partials/header') %>
        </div>
        <main>
            <h1 class="tituloListado">Vinos</h1>
            <div class="contenedorListado">
                <div class="listadoIzquierda">
                    <div class="filtros">

                        <div class="filtrarPor">
                            <label> Filtrar:</label>
                            <select class="filtrosEstilo">
                                <option value="/">Malbec</option>
                                <option value="/">Cabernet Sauvignon</option>
                                <option value="/">Syrah</option>
                                <option value="/">Rosado</option>
                            </select>
                        </div>

                        <div class="filtrarPor">
                            <label>Ordenar:</label>
                            <select class="filtrosEstilo">
                                <option value="/">Mayor precio</option>
                                <option value="/">Menor precio</option>
                                <option value="/">Más buscados</option>
                            </select>
                        </div>

                    </div>
                    <div class= "mujerComprando">
                        <img src="/img/mujerComprando.svg" alt="mujerComprando">
                    </div>
                </div>
                <div class="conteinerProducts">

                    <% for (const product of products) { %>
                        <article class="articuloListado">
                            <a href="/productos/detail/<%= product.id %>">
                                <div class="productBoxImage">
                                    <img src="/img/<%= product.image %>" alt="producto">
                                </div>
                                <div class="productBoxData">
                                    <div class="nombre-info">
                                        <h4><%= product.name %></h4>
                                        <p class="productDescription"><%= product.description %></p>
                                    </div>
                                   <div class="agregarAlCarro">
                                        <p>$<%= product.price %></p>
                                        <div class="agregarCarrito">
                                            <a href="/productos/cart">Agregar </a>
                                            <a href="/productos/cart"><i class="fas fa-shoppingcart"></i></a>
                                        </div>
                                  </div>
                                </div>
                            </a>
                        </article>
                    <% } %>
                </div>
            </div>

        </main>
        
        <%- include ('./partials/footer') %>
    </body>
</html>