<%- include ('./partials/head', {title: 'Productos'}) %>

<body>
    <div class="center">
        <%- include ('./partials/header') %>
        
        <main>
            


<div class="listaBloqueGeneral"> 

    
    <div class="comprandoIzquierda">
        
        <div class= "mujerComprando">
            <img src="/img/mujerComprando.svg" alt="mujerComprando">
        </div>

    </div>



    <div class="comprandoVinos">

        <h1 class="tituloVino">Vinos</h1>


        <div class="articulosTodos">
            <% for (product of products) { %>

            <a href="/productos/producto/<%= product.id %>">

                <article class="producto">
                    <img src="/img/listado/<%= product.image %>" alt="producto">
            
                    <h2>$ <%= product.name %></h2>
                    <p><%= product.price %></p>
                            
                    <div class="agregarCarrito">
                        <a href="/productos/cart">Agregar </a> 
                        <a href="/productos/cart"><i class="fas fa-shopping-cart"></i></a>  
                    </div>
                </article>

            </a>
            <% } %>
        </div>
    </div>


</div>
    

                
            
        

               


        </main>
    </div>
    <%- include ('./partials/footer') %>

</body>
</html>








