<%- include ('../partials/head', {title: 'Profile'}) %>

<body>
<div class="center">
        <%- include ('../partials/header') %>

        <main>


        <div class="BloqueGeneralAdmin">

            <div class="bloqueUno">
                <div class="bloqueUnoTitulo">
                    <div class="backTo">
                        <p>Back to</p>
                        <a href="/users/profile"><h1>Your profile</h1></a> 
                    </div>
                    <a href="/users/logout" class="logout">Logout</a>
                </div>
                <div>
                <img class="hombreProfile" src="/img/profile.svg" alt="genteRegister">
            </div>
                  
            </div>

            <div class="formRegister">
                <form action="/users/edit" method="POST" enctype="multipart/form-data">
                    <h2 class="contanos">Tell us about yourself</h2>
                    <ul style= "color: red" class="errors"></ul>
                    <% if (typeof errors != "undefined") { %>
							
                        <% errors.forEach(error => { %>
                         
                            <p><%= error.msg %> </p>

                        <% }) %>
        
                    <% } %>
                    <input class="camposForm" type="text" id="name" name="name" placeholder="/ name" value=<%= user.name%>><br>
                    <input class="camposForm" type="text" id="lastName" name="lastName" placeholder="/ last name" value=<%= user.last_name%>><br>
                    <input class="camposForm" type="text" id="userName" name="userName" placeholder="/ user name" value=<%= user.user_name%> ><br>
                    <input class="camposForm" type="date" id="birthday" name="birthday" value=<%= user.dob%>> <br> 
                    <input class="camposForm" type="email" id="email" name="email" placeholder="E-mail" value=<%= user.email%> ><br>
                    <div class="camposForm">
                        <label for="image" class="form-label, text-photo">Choose your profile picture</label>
                        <input type="file" name="image" id="image">
                    </div>
                    <div class="botones">
                        <button class="boton camposForm" type="submit" name="register" id="register"><strong>Save</strong></button>
                    </div>
                    <a class="agregarYEditar camposForm" href="/users/password">Change password</a>
                </form>
            

       
            </div>
        </div>
        </main>
    </div>
    <%- include ('../partials/footer') %>
    <script src="/js/scriptEditUser.js"></script>

</body>
</html>