<%- include ('../partials/head', {title: 'Profile'}) %>

<body>
<div class="center">
        <%- include ('../partials/header') %>

        <main>


        <div class="BloqueGeneralAdmin">

            <div class="bloqueUno">
                <div class="bloqueUnoTitulo">
                    <h1>Your profile</h1>
                    <a href="/users/logout">Logout</a>
                </div>
                <div>
                <img class="hombreProfile" src="/img/profile.svg" alt="genteRegister">
            </div>
                  
            </div>


            <div class="bloqueDos">
                <div class="textoBloqueDos">
                    <h2 class="datosPerfil">Your info</h2>
                    <div class="userPhoto">
                        <img class="avatarProfile" src="/img/users/<%=user.avatar%>" alt="foto">
                    </div>
                    <p class="datosPersonales">
                        <br><%= user.name + ' ' + user.last_name%></br>
                        <br><%= user.email%> </br>
                        <br><%= user.dob%> </br>
                    </p>
                    <a href = '/users/edit'>
                        <button class="camposForm">Edit</button>
                    </a>

                    <h2 class="datosPerfil">Your card</h2>
                </div>

                <div class="fotoTarjeta">
                    <img class="fotoTarjeta" src="/img/tarjeta.png" alt="tarjeta">
                </div>
            </div>

            
            <div class="bloqueTres">
                <div class="textoBloqueTres">
                <h2 class="datosPerfil">Your orders</h2>
                <p class="datosPersonales">
                    <a href="/cart/bought">
                        <br>Orders bought</br>
                    </a>
                    <br>Orders canceled</br>
                </p>
                <h2 class="datosPerfil">Bookings</h2>
                <p class="datosPersonales">
                    <br>Wine Tasting</br>
                    <br>Fecha: 04-03-2025</br>
                    <br>Vesterbrogade 30, kbh.</br>
                </p>
                </div>
            </div>
            
        </div>
        </main>
    </div>
    <%- include ('../partials/footer') %>

</body>
</html>